/* 通用样式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

/* 表单样式 */
.form-container {
    margin: 0 auto;
    max-width: 300px;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
select,
input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    display: block;
    margin-top: 10px;
    color: #4CAF50;
    text-decoration: none;
}
